.App {
  text-align: center;
  display: flex;
  height: 750px;
  width: 450px;
  border-radius: 25px;
  margin: auto;
  margin-top: 25px;
  background-color: lightblue;
  box-shadow: 5px 5px grey;
}

.container {
  margin: auto;
  margin-top: 30px;
}

.header {
  font-weight: 3rem;
}
.info {
  position: sticky;
  background-color: aqua;
  border-radius: 20px;
  height: 541px;
  width: 450px;
}
