.App {
  position: relative;
  text-align: center;
  display: flex;
  height: 750px;
  width: 450px;
  border-radius: 22px;
  margin: auto;
  margin-top: 25px;
  background-image: linear-gradient(to bottom right, #33ccff, #3366ff);
  /* background-color: rgba(0, 0, 255, 0.3); */

  /* background-color: lightblue; */
  box-shadow: 0.3rem 0.3rem #f2f2f2;
}

.container {
  margin: auto;
  margin-top: 30px;
}

.header {
  font-size: 3rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #33ccff;
}
.info {
  position: static;
  background-image: linear-gradient(to bottom right, #33ccff, #3366ff);

  border-radius: 20px;
  height: 541px;
  width: 450px;
}

/* h4 {
  padding: 1rem;
} */
